In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv')

In [3]:
df

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1
...,...,...,...,...,...,...,...,...,...
1457,referral,manufacturing,1,NaN,self_employed,north_america,4,0.53,1
1458,referral,technology,3,65259.0,student,europe,2,0.24,1
1459,paid_ads,technology,1,45688.0,student,north_america,3,0.02,1
1460,referral,NaN,5,71016.0,self_employed,north_america,0,0.25,1
1461,organic_search,finance,3,92855.0,student,north_america,3,0.41,1

In [6]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [7]:
categorical=['lead_source','industry','employment_status','location']
numerical=['number_of_courses_viewed','annual_income','interaction_count','lead_score','converted']

In [27]:
categorical_columns=list(df.dtypes[df.dtypes=='object'].index)

for c in categorical_columns:
  df[c]=df[c].str.lower().str.replace(' ','_')

In [28]:
numerical_columns=list(df.dtypes[df.dtypes=='int64'].index)

for c in numerical_columns:
  df[c]=df[c].replace(' ','0.0')

Q1: What is the most frequent observation (mode) for the column industry?

In [16]:
df['industry'].mode()

0    retail
Name: industry, dtype: object

Q2: Biggest correlation

In [30]:
from sklearn.model_selection import train_test_split
df_full_train, df_test=train_test_split(df, test_size=0.2,random_state=1)
df_train, df_val =train_test_split(df_full_train, test_size=0.25, random_state=1)

In [31]:
df_train=df_train.reset_index(drop=True)
df_val=df_val.reset_index(drop=True)
df_test=df_test.reset_index(drop=True)

In [32]:
y_train = df_train.converted.values
y_val = df_val.converted.values
y_test = df_test.converted.values

In [33]:
del df_train['converted']
del df_val['converted']
del df_test['converted']

In [34]:
df_full_train.reset_index(drop=True)
df_full_train.isnull().sum()
df_full_train.converted.value_counts(normalize=True)

converted
1    0.611634
0    0.388366
Name: proportion, dtype: float64

In [23]:
from IPython.display import display

Q3: Mutual Information Score

In [35]:
from sklearn.metrics import mutual_info_score
mutual_info_score(df_full_train.location, df_full_train.converted)

ValueError: Input contains NaN