Question 1. Pandas version

In [7]:
pd.__version__

'2.2.2'

Question 2. Records Count

In [15]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.index

RangeIndex(start=0, stop=9704, step=1)

Question 3. Fuel types

In [16]:
df['fuel_type']

0       Gasoline
1       Gasoline
2       Gasoline
3         Diesel
4       Gasoline
          ...
9699      Diesel
9700    Gasoline
9701      Diesel
9702      Diesel
9703      Diesel
Name: fuel_type, Length: 9704, dtype: object

In [19]:
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [5]:
import numpy as np

Question 4. Missing values

In [21]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Question 5. Max fuel efficiency

In [17]:
df.fuel_efficiency_mpg.max()

25.96722204888372

Question 6. Median value of horsepower

In [18]:
df.horsepower.median()

149.0

Question 7. Sum of weights

In [14]:
df.vehicle_weight.sum()

engine_displacement    1.937970e+06
num_cylinders          3.654200e+04
horsepower             1.346317e+06
vehicle_weight         2.912443e+07
acceleration           1.318024e+05
model_year             1.951944e+07
num_doors             -5.900000e+01
fuel_efficiency_mpg    1.454168e+05
dtype: float64